[2020-03-05 14:58] hsluoyz opened #2 "Enforcer, Model, Adapter, File Adapter should be built first."

[2020-03-05 15:02] hsluoyz opened #3 "Investigate if there's a suitable C/C++ expression evaluator"
Casbin uses expression evaluator to evaluate matchers. If there's no such thing, Casbin C/C++ cannot be done.

[2020-03-05 15:23] DivyPatel9881 commented on #3
Yeah, you are absolutely right, I had gone through this while passing through docs, and found a solution regarding this...
Just check this out [cparse](https://github.com/cparse/cparse)

[2020-03-05 15:27] DivyPatel9881 commented on #2
Yeah, sure, will keep this in mind..
I know effect code doesn't make any meaning now, but I built that, as it doesn't consume any dependency.

[2020-03-06 02:51] xcaptain commented on #3
I would recommend http://chaiscript.com/ looks like another option

[2020-03-06 04:52] DivyPatel9881 commented on #3
Yeah, definitely, it can be considered.

[2020-03-06 13:23] hsluoyz opened #7 "Contribution guide"
1. Our build system is makefile (on Linux) & Visual Studio project files (on Windows), please make your code compile well on **both** platforms before any PR. I personally will test the code on Visual Studio and CLion on Windows.
2. Use `use namespace std;`, there should be no `std::string` in the code.
3. Write minimized working code first, like file adapter, model, enforcer. Don't try to setup a

[2020-03-06 13:57] DivyPatel9881 commented on #7
Will follow this conventions.

[2020-03-08 22:53] NitinBhasneria commented on #7
@hsluoyz Thanks for this. This will be surely followed.

[2020-03-09 15:38] DivyPatel9881 opened #10 "Casbin core missing its Adapter implementation, so is the casbin-cpp."

[2020-03-09 16:59] mnprtpsingh commented on #10
Hey @DivyPatel9881 I guess different Adapter's are implemented seperately in different repositories. For examples see [gorm-adapter](https://github.com/casbin/gorm-adapter), [mongodb-adapter](https://github.com/casbin/mongodb-adapter) and [casbin-pg-adapter](https://github.com/casbin/casbin-pg-adapter).

[2020-03-10 17:38] DivyPatel9881 commented on #3
@hsluoyz which expression evaluator should be used for the implementation? Please let me know, as I am going for enforcer which requires them as their dependency.

[2020-03-11 08:25] DivyPatel9881 commented on #3
So should I go with [cparse](https://github.com/cparse/cparse).

[2020-03-11 08:48] xcaptain commented on #3
@DivyPatel9881 you are working really fast, I think you can choose whatever you like as long as we have a basic working version.

[2020-03-11 16:46] DivyPatel9881 commented on #3
Thanks, @xcaptain, I just wanted to be sure. No problem will go with cparse, found promising.

[2020-03-19 16:30] NitinBhasneria opened #13 "Project porting casbin from go to cpp starts"
As there are many more files and so need some guidance that, from which file we should start porting.
The golang code structure used in casbin is understood at full potential.
Now, we are ready to start this project with full potential.

@hsluoyz Please review this

[2020-03-20 07:25] NitinBhasneria opened #14 "window.h in ubuntu gives error."

[2020-03-20 15:38] romitkarmakar commented on #14
Working on this repo will require you to have visual studio installation in windows, with workload for c++ installed.

[2020-03-20 15:48] NitinBhasneria commented on #14
Do you mean I cant work on this repo in ubhntu?

[2020-03-21 15:22] #10 closed

[2020-03-22 11:41] NitinBhasneria commented on #14
@techoner can you review this ?

[2020-03-22 18:16] PsiACE commented on #14
See https://github.com/casbin/casbin-cpp/pull/6#issuecomment-595792065

[2020-03-22 18:24] PsiACE commented on #13
See #2 & #7
Also https://casbin.org/docs/en/tutorials

[2020-03-25 15:15] #13 closed

[2020-03-28 11:47] DivyPatel9881 commented on #3
Currently, I am implementing enforcer, and I am in need of expression evaluator after a lot of research I found a very good and very satisfying library for casbin-CPP [duktape](https://duktape.org/).
The cparse does not support object arguments and with chaiscript, I am facing build issues. Currently, duktape is satisfying all the needs of expression evaluator

[2020-03-29 09:09] romitkarmakar commented on #3
I think we can go with [muParser](https://beltoforion.de/article.php?a=muparser). It has a similar API with the govaluate package.

[2020-03-29 09:38] DivyPatel9881 commented on #3
muParser only supports ```double``` as variable type and only supports certain types of functions as can be seen here : [muparser](https://beltoforion.de/article.php?a=muparser&p=defining_functions), it is specifically used for Math evaluation will not serve well to the Casbin's usecase.

[2020-03-29 12:04] romitkarmakar commented on #3
@DivyPatel9881 you are right..

[2020-06-11 03:46] zintown commented on #7
Get the point，this rule will be precisely followed

[2020-06-14 06:15] #14 closed

[2020-06-14 06:17] hsluoyz commented on #3
@divy9881 what's the evaluator used eventually in Casbin-CPP?

[2020-06-14 06:18] hsluoyz commented on #2
Merged: https://github.com/casbin/casbin-cpp/pull/16

[2020-06-14 06:18] #2 closed

[2020-06-14 06:20] hsluoyz opened #26 "Add Azure Pipelines CI badge"
We can add Azure Pipelines as our CI, so all the code can be built and tested automatically on Windows.

![image](https://user-images.githubusercontent.com/3787410/84586227-32b8b480-ae4a-11ea-8dbb-f34f82706f4e.png)

See how we setup Azure Pipelines CI for Casbin.NET as an example if needed: https://github.com/casbin/Casbin.NET/issues/32#issuecomment-642580444

[2020-06-14 06:21] hsluoyz commented on #26
@divy9881 can anyone work on it?

[2020-06-14 06:21] divy9881 commented on #3
https://duktape.org/index.html
Duktape is a very light and very generic expression evaluator for C++ out there. As you know, we have been facing bottle-neck due to this functionality in other libraries like Casbin-Rust.

[2020-06-14 06:24] divy9881 commented on #26
Yes, I can set up the CI, but actually, I will be needing casbin Azure DevOps credentials.

[2020-06-14 06:25] hsluoyz commented on #3
OK. So its source code is already embedded inside our own repo.

When we finish adding benchmark test cases like how we did in Go, Rust. We can evaluate duktape's performance compared to other languages, and maybe tune it if neccessary.

[2020-06-14 06:42] hsluoyz opened #27 "Fix Casbin-CPP image"
![image](https://user-images.githubusercontent.com/3787410/84586825-15d1b080-ae4d-11ea-8b1b-954e5e24cc85.png)

@divy9881 The "+" char in URL: https://casbin.org/img/langs/c++.png is not correctly handled. Please rename the file from c++.png to cpp.png in both casbin-website and this repo's README.

[2020-06-14 06:44] divy9881 commented on #27
Actually, the image has not been hosted yet, that's the problem, the image works fine on my localhost, localhost:3000/img/langs/c++.png. I have checked it on casbin.github.io, there is no image.

[2020-06-14 06:45] hsluoyz opened #28 "Improve the README page like other languages"
Finally we will have a README like Golang: https://github.com/casbin/casbin

[2020-06-14 06:47] divy9881 commented on #28
Yes sure, I will do that.

[2020-06-14 06:49] divy9881 commented on #27
![Screenshot (158)](https://user-images.githubusercontent.com/39230975/84587015-4a3b7180-ae39-11ea-938c-01996843475c.png)

[2020-06-14 06:55] hsluoyz commented on #27
Maybe that image is not deployed because it's not referenced in the website, can you also add it to: https://casbin.org/docs/en/overview ?

[2020-06-14 07:12] divy9881 commented on #27
Now the image has taken the full width : )))

[2020-06-14 07:13] hsluoyz commented on #27
Please fix it to same width as other icons.

[2020-06-15 03:25] hsluoyz commented on #26
@divy9881 OK. We can start this task now. Let me know if you need any cred/key in Azure DevOps.

[2020-06-15 03:27] hsluoyz commented on #27
@divy9881 any progress? Because the current look is kind of ugly in the website..

[2020-06-15 04:04] #27 closed

[2020-06-15 05:47] KaranaLJX commented on #26
I want to try it , but i can not register an Azure account

[2020-06-16 16:54] divy9881 opened #34 "Add casbin-cpp to opencollective."
I have added the link to open-collective for casbin-cpp under readme to show the contributors. @hsluoyz can you add casbin-cpp to open-collective.

[2020-06-16 16:54] divy9881 opened #35 "Add Microsoft azure pipeline badge."
@hsluoyz can you add the azure pipeline badge to the readme.

[2020-06-16 17:07] divy9881 opened #36 "Setup some PR actions."
Some PR actions like Semantic-PR, coveralls(for code coverage) and probably travis-CI after we add CMake support for cpp.

[2020-06-16 17:09] divy9881 commented on #36
I don't have the authority to add this actions, so either you will have to give me access or you can add it.

[2020-06-17 00:54] hsluoyz commented on #36
I have added you:

![image](https://user-images.githubusercontent.com/3787410/84842631-35005600-b078-11ea-94af-ab1834ac3e6b.png)

[2020-06-17 01:32] hsluoyz commented on #35
I saw you added the badge.

[2020-06-17 06:24] hsluoyz commented on #34
Created: https://opencollective.com/casbin-cpp

Still need to wait some time for the image to be available.

[2020-06-17 06:31] hsluoyz commented on #35
Fixed by: https://github.com/casbin/casbin-cpp/commit/cadcae6b44aa0068465d03bb721325c56c8188f0

[2020-06-17 06:31] #35 closed

[2020-06-17 06:33] hsluoyz commented on #28
Fixed by: https://github.com/casbin/casbin-cpp/pull/33

[2020-06-17 06:33] #28 closed

[2020-06-17 06:33] hsluoyz commented on #26
Fixed in: https://github.com/casbin/casbin-cpp/issues/35

[2020-06-17 06:33] #26 closed

[2020-06-17 06:37] divy9881 commented on #35
I think the link must be https://dev.azure.com/Casbin/casbin/_build?definitionId=2&branchName=master

[2020-06-17 06:58] hsluoyz commented on #35
@divy9881 fixed in: https://github.com/casbin/casbin-cpp/commit/9a3a86a27941f4bec2380beb95982d507d7f5e92

[2020-06-17 07:27] hsluoyz commented on #34
https://github.com/casbin/casbin-cpp#contributors

[2020-06-17 07:32] hsluoyz commented on #34
Adding to open-collective requires this repo to have 100 stars: https://opencollective.com/create/opensource

![image](https://user-images.githubusercontent.com/3787410/84868702-b0c9c500-b0af-11ea-8858-3d837dd77a31.png)

@divy9881 please advertise casbin-cpp !

[2020-06-21 08:15] divy9881 opened #38 "Add synced and cached enforcer"
This are the links to the enforcers implemented in golang for casbin-core. We need to port this code to casbin-cpp to extend the feature of enforcement.
https://github.com/casbin/casbin/blob/master/enforcer_cached.go
https://github.com/casbin/casbin/blob/master/enforcer_synced.go

[2020-06-21 08:34] hsluoyz opened #39 "Use semantic-release to automatically release Casbin-CPP versions"
See: https://github.com/casbin/jcasbin/issues/76

[2020-06-21 08:35] hsluoyz commented on #39
@divy9881 can you work on it?

[2020-06-21 08:42] divy9881 commented on #39
Yes, sure

[2020-06-21 08:49] hsluoyz opened #40 "Make middleware for No.1 C/C++ web framework"
Casbin has a tradition to make authz middlewares for web frameworks of that language. We need to make some middlewares for the most popular C/C++ web frameworks (if there any cuz I even didn't have a name). The middlewares will be put into: https://github.com/casbin-cpp

The first question is: `what are the most popular C/C++ web frameworks?`

[2020-06-21 08:50] hsluoyz commented on #40
@xcaptain @divy9881 @ZipoChan do you have any ideas?

[2020-06-21 08:51] hsluoyz commented on #38
This one is definitely needed.

[2020-06-21 09:26] hsluoyz opened #41 "Setup code coverage badge"
https://dev.azure.com/Casbin/casbin/_build/results?buildId=59&view=results

![image](https://user-images.githubusercontent.com/3787410/85221175-55b40d00-b3e4-11ea-92df-0131a83d2528.png)

https://docs.microsoft.com/en-us/azure/devops/pipelines/test/review-code-coverage-results?view=azure-devops

[2020-06-21 09:26] hsluoyz commented on #41
@divy9881 @zipochan can anyone do this?

[2020-06-21 10:22] GopherJ commented on #40
I think https://github.com/an-tao/drogon is a good thing which wins rust actix-web framework in bench.

It's also under active development

[2020-06-21 10:30] GopherJ opened #42 "Setup benchmarks"
Really happy to see a new casbin product is born with good features, thanks @divy9881 for your hard work.

BTW, It's also interesting to see benchmarks numbers in casbin-cpp, normally cpp should win bench again rust and golang.

Could you add benchmarks?

[2020-06-21 10:35] hsluoyz opened #43 "Port all Go test cases to cpp"
Currently we only have a few util tests in: https://github.com/casbin/casbin-cpp/tree/master/test

Most of test cases for models are not yet available.

[2020-06-21 10:35] hsluoyz commented on #43
@divy9881 @zipochan can anyone take this issue?

[2020-06-21 13:36] hsluoyz commented on #42
Sounds good. We can compare C++ with Rust.

[2020-06-21 13:37] hsluoyz commented on #42
@divy9881 @zipochan

[2020-06-23 01:07] divy9881 commented on #41
For now, the .coverage file format is not compatible to generate a code coverage statistics and badge. The file can only be viewed on VS enterprise edition.

[2020-06-23 01:08] divy9881 commented on #41
But, you can add coverage badge for .NET projects as it generates the code coverage in Cobertura format.

[2020-06-23 01:08] divy9881 commented on #41
For now, there is no solution for C/C++

[2020-06-23 01:47] hsluoyz commented on #41
@divy9881 will using 3rd-party coverage tool like coveralls (https://github.com/casbin/casbin) work?

[2020-06-23 01:50] divy9881 commented on #41
No, not until we include travis-CI.

[2020-06-23 02:14] hsluoyz commented on #39
Fixed in: https://github.com/casbin/casbin-cpp/pull/44

[2020-06-23 02:14] #39 closed

[2020-06-23 02:15] hsluoyz commented on #39
@divy9881 the link is wrong:

![image](https://user-images.githubusercontent.com/3787410/85353304-7a21fd80-b53a-11ea-9f25-9768520a5896.png)

[2020-06-23 02:18] divy9881 commented on #39
I have fixed it now.

[2020-06-23 02:20] hsluoyz commented on #41
@divy9881 in the option 1 you mentioned in: https://github.com/casbin/casbin-cpp/pull/37#issuecomment-647093475, we can also build on Travis-CI and then let Travis CI submit the coverage report to a coverage platform like coveralls. Can we do this?

[2020-06-23 02:26] divy9881 commented on #41
The coverage report is being prepared by using tests, our tests are in the form of MS Test, hence it may not prepare, as it does not support MSTest.

Maybe, we don't need coverage report for this particular project as can be seen from other C++ projects don't require, or if at all we require, after setup of cmake or makefile build, we can port our tests to GTest which is option 3.

[2020-06-23 02:28] hsluoyz commented on #41
OK. Let's do other things first.

[2020-06-24 04:21] hsluoyz commented on #40
@GopherJ great! Let's make a middleware for drogon first!

[2020-06-24 04:23] hsluoyz commented on #40
@ZipoChan @wzw0625 can you do this?

[2020-06-24 11:58] zintown commented on #38
let's do it~

[2020-06-24 11:59] divy9881 opened #47 "Issue with semantic-release action"
Does the semantic-release action triggers on each PR, or sometimes when some breaking changes occurs?

PR : #46

![Screenshot (166)](https://user-images.githubusercontent.com/39230975/85551954-23065080-b640-11ea-87a5-a93b5a3a8a23.png)

[2020-06-24 12:07] divy9881 commented on #38
You can refer to the above links from casbin golang repository.

[2020-06-24 12:10] KaranaLJX commented on #40
i want to try it

[2020-06-24 12:15] divy9881 commented on #40
@KaranaLJX You can take up this issue, but before starting writing the code, let us know, what middleware are you going to code up and related to which framework.

For reference you can take the inspiration from following organisation's middleware repos,
https://github.com/casbin
https://github.com/jcasbin
https://github.com/node-casbin
https://github.com/casbin-rs

[2020-06-24 12:23] divy9881 commented on #40
Apart from drogon, this are some of the well-known web frameworks from which you can start working,
CivetWeb : https://github.com/civetweb/civetweb
CppCMS : http://cppcms.com/wikipp/en/page/main

I would prefer CppCMS, its very famous and easy to work with.

[2020-06-27 14:50] divy9881 commented on #38
What's the status of this issue, @zintown?

[2020-06-27 14:55] zintown commented on #38
I am trying to learn go and review c++, and read the source code.

[2020-06-27 15:03] zintown commented on #38
I have lots of homworks to do, and it 's near deadline these days, so my progress is slow. But don't worry, I'll keep up with that issue
@divy9881

[2020-06-28 12:05] hsluoyz opened #49 "Setup a code style linter"
I can usually find a lot of code style issues in our code like this PR: https://github.com/casbin/casbin-cpp/pull/48. I don't want to review and fix them one by one. We need a systematic and automatic way to solve it.

How does C/C++ solve the code linting issue? I want a solution better working for multiple OSes, multiple IDEs. I only know something like EditorConfig: https://editorconfig.org/

W

[2020-06-28 12:07] hsluoyz commented on #49
Any suggestions? @xcaptain @nodece @GopherJ @divy9881 @zipochan

[2020-06-28 13:09] xcaptain commented on #49
I think clang-format is good, maybe we can give it a try

[2020-06-28 13:12] hsluoyz commented on #49
@xcaptain not bad!

[2020-06-28 13:25] divy9881 commented on #49
https://github.com/marketplace/actions/ros-style-guide-c-format
Its a github-action for automatic C++ code-formatter according to clang format

[2020-06-28 13:28] divy9881 commented on #49
some other github-actions:
https://github.com/marketplace/actions/c-code-linter-clang-tidy-and-cppcheck
https://github.com/marketplace/actions/c-c-code-linter-clang-tidy-clang-format-and-cppcheck

Let me know, which one, I will set it up.

[2020-06-28 13:32] hsluoyz commented on #49
@xcaptain @divy9881

I have several criteria:

1. Works for all OSes: Windows, Linux, (better have macOS)
2. Works for IDEs: Jetbrains CLion, Visual Studio, (better have VSCode)

Which ones fulfill these?

[2020-06-28 13:40] divy9881 commented on #49
Sorry, I didn't understand your question, the above links are the links to the github-actions, it gets triggered after all other build-tasks are successful and after may be merging.

[2020-06-28 13:43] hsluoyz commented on #49
The linter I mean here is that when I type in code, the IDE will auto format my code. Usually IDE has its built-in linter or kind of similar things. But I want a standardized tool to work for all IDEs.

What does your linter mean?

[2020-06-28 13:55] divy9881 commented on #49
Then, I think we can set-up just git-hook for code linting using npm and clang-format as node-package.

[2020-06-28 13:57] hsluoyz commented on #49
Will npm package work for CLion?

[2020-06-29 15:08] xcaptain opened #50 "Integrate with envoy"
Currently, envoy is using their own rbac module https://www.envoyproxy.io/docs/envoy/latest/api-v2/config/rbac/v2/rbac.proto we can investigate if we can integrate envoy with casbin so envoy users can get more fine-grained access control

[2020-06-29 15:10] xcaptain opened #51 "cross platform compile casbin-cpp"
Currently, casbin-cpp only builds on windows, we need to support linux and other os. Using CMake as the build system may be a solution

[2020-06-29 15:59] hsluoyz opened #52 "Add Casbin-CPP and its competitors to trend page"
Please find Casbin-CPP's competitors (open-source authz project) and add them to our trend page like other languages: https://trend.casbin.org/

See Go as an example:

![image](https://user-images.githubusercontent.com/3787410/86028626-b090d880-ba64-11ea-8fae-6d680fb07ee7.png)

[2020-06-29 16:01] hsluoyz commented on #52
@xcaptain @divy9881 @zipochan can anyone do this?

[2020-06-29 16:05] divy9881 commented on #52
Okay, i will do this.

[2020-06-29 16:07] divy9881 commented on #51
I am working on it currently, for now, I want to complete the end-to-end testing of the entire project, after completing that, maybe after 10 days we can accomplish this.

[2020-06-29 16:12] divy9881 commented on #50
I feel this issue must be open-sourced and we should wait for someone to take this up. The development of casbin-cpp library and its integration middleware applications must go in parallel for now.

[2020-06-29 16:13] divy9881 commented on #40
@KaranaLJX, what's the status of this issue, have you achieved some progress on this?

[2020-06-29 16:38] divy9881 commented on #52
I just found one open-source project for C++ authz, which is also not so interesting, BTW
https://github.com/AlexeyParhomenko/x-acl
The keywords, I used to search are "Docker authz plugin C++", "Access control and role-based authz C++", but I couldn't find more, which is a good thing I think so that we can monopolize our library 😆 😎

[2020-06-30 02:59] hsluoyz commented on #52
@divy9881 good. Please make a PR to add it to: https://trend.casbin.org/

[2020-06-30 03:39] KaranaLJX commented on #40
not yet

[2020-06-30 07:57] #52 closed

[2020-07-02 07:04] divy9881 commented on #49
To setup a git-hook a contributor will have to install the npm packages from command line tool and after he adds the changed files to the staging area through `git add` the code formatting triggers automatically.

[2020-07-02 07:53] hsluoyz commented on #49
Then I think maybe a tool like https://editorconfig.org/ is better. It's just a config file inside the repo (like Travis CI config). And the IDE can automatically recognize it and apply the code format checking.

[2020-07-04 14:06] xcaptain opened #55 "Using smart pointers rather than raw pointers"
Raw pointers may cause memory leak, would be better to use smart pointers

[2020-07-04 14:11] ZipoChan commented on #55
OK,I will do it soon.

[2020-07-04 15:00] divy9881 commented on #55
Great enhancement and suggestion @xcaptain

[2020-07-04 16:03] xcaptain opened #56 "remove filePath from tests"
https://github.com/casbin/casbin-cpp/blob/8f4c866c315e95dd384ef5dad2eaf92627e60f79/test/test_config.cpp#L26-L46

This function is duplicated several times in tests, looks like it just turns a path into an absolute path, would consider remove it, since the relative execution path is determined.

[2020-07-15 00:12] GopherJ commented on #49
IDE is not related to this repo I believe，developers need to use their own tool.

But we need some lint actions，ia there one for clang-format?  in vim I use clang，clang-format

code can  be formstted onced saved

This repo can also have custom style lint config? but it's normally not necessary

[2020-07-15 00:12] GopherJ commented on #51
cmake can generate compile_conmands.json，which also helps vim users

[2020-07-15 07:07] #56 closed

[2020-07-18 11:41] #55 closed

[2020-08-11 11:40] hsluoyz commented on #51
Fixed in: https://github.com/casbin/casbin-cpp/pull/63

[2020-08-11 11:40] #51 closed

[2020-08-11 11:41] #43 closed

[2020-08-11 11:42] #36 closed

[2020-08-11 11:43] hsluoyz commented on #43
@divy9881 you should link the issue with the PR. E.g., write "Fix: <issue URL>" in PR, not not get a chance to do the above, do "Fixed in: <pr URL>" as a comment in issue.

[2020-08-11 11:44] hsluoyz commented on #43
@divy9881 please do this for the two issues you just closed.

[2020-08-11 11:45] hsluoyz commented on #43
@divy9881 and remove the "help wanted" label and "Pin" if any for the issue.

[2020-08-11 12:05] hsluoyz commented on #36
Fixed in: https://github.com/casbin/casbin-cpp/pull/63

[2020-09-01 14:51] ZipoChan commented on #49
Add the clangformat for Visual Studio.

[2020-09-04 10:13] ZipoChan commented on #49
@hsluoyz  Have added clang-format,which can be used in visual studio.

[2020-09-04 11:04] hsluoyz commented on #49
@ZipoChan which PR?

[2020-09-04 11:05] hsluoyz commented on #49
Fixed in: https://github.com/casbin/casbin-cpp/issues/49

[2020-09-04 11:05] #49 closed

[2020-11-05 08:23] hsluoyz opened #68 "Can't build on Linux (Ubuntu 20.04)"
See my logs:

[code]

![image](https://user-images.githubusercontent.com/3787410/98215917-58726180-1f83-11eb-8557-8f5f9eaacaa7.png)

Also see Travis CI: https://travis-ci.org/github/casbin/casbin-cpp

[2020-11-05 08:23] hsluoyz commented on #68
@xcaptain @divy9881

[2020-12-19 11:07] hsluoyz commented on #34
Added now as we already got 100+ stars: https://opencollective.com/casbin-cpp

[2020-12-19 11:07] #34 closed

[2020-12-21 12:39] hsluoyz commented on #3
Finally we go with duktape: https://github.com/casbin/casbin-cpp/blob/master/casbin/duktape/duktape.cpp

[2020-12-21 12:39] #3 closed

[2021-01-07 09:47] #68 closed

[2021-02-22 09:07] bigcat26 opened #71 "crash while initialize Enforcer without adapter"
My program
[code]

Cause by following issue
[code]

[2021-02-24 02:40] bigcat26 opened #72 "bug: assign value to uninitialized vector"
in `bool Enforcer :: enforce(string matcher, Scope scope)`

[code]

[2021-02-24 03:55] #72 closed

[2021-02-24 07:21] bigcat26 opened #74 "AddFunction is not working as expect"
branch: v1.11.2
I'm trying to add my custom matcher function like this:

[code]

When I debug the program, stepped over `e.Enforce`, it does not invoke `myMatcher`.

The problem is that a new `scope` was create in `EnforceWithMatcher` to evaluate `params`, but my custom matcher is not in that `scope`.

[2021-02-24 16:56] bigcat26 opened #79 "Integrate with mosquitto"
Currently, I'm using mosquitto with it's own ACL module  [dynamic security plugin](https://mosquitto.org/documentation/dynamic-security/), but it was complex designed (such as groups & roles, priority id), and resource(topic) group was not supported.

If we can integrate mosquitto dynsec plugin with casbin, that would be great.

[2021-02-25 06:30] bigcat26 opened #80 "gcc complains "pragma once" in *.cpp file"
gcc version
[code]

compiler output:
[code]

[2021-02-25 06:45] hsluoyz commented on #80
@bigcat26 can you make a PR to fix it?

[2021-02-25 06:49] #71 closed

[2021-02-25 06:49] #74 closed

[2021-02-25 07:40] hsluoyz commented on #80
@Zxilly

[2021-02-25 07:48] Zxilly commented on #80
got it, working on this

[2021-02-25 07:57] bigcat26 commented on #80
[code]

[2021-02-25 08:21] Zxilly commented on #80
@bigcat26 seems `#pragma once` was added deliberately
ref to: https://github.com/casbin/casbin-cpp/commit/18b41bc715f004b6dcbc840ed9391eb5a245953f and https://github.com/casbin/casbin-cpp/commit/52929cb0b908d90f65bf063295ca0df5c7347394
Warnings were explicitly ignored.

[2021-02-25 08:50] bigcat26 commented on #80
I love magic.
I just think replace '#ifdef/#define/#endif' with '#pragma once' in header files is reasonable..
[Pragma_once](https://en.wikipedia.org/wiki/Pragma_once)

[2021-02-25 10:13] Zxilly commented on #80
@bigcat26 so just add `#pragma once` in `*.h`?
I think they can work together.

[2021-02-25 10:24] divy9881 commented on #80
MS VC++ requires `#pragma once` for its efficient execution on windows platform. We cannot do much about it. That's a trade-off we need to make while building the same code on linux. I have prepared 2 separate routines in CMake script to build the library.

[2021-02-25 11:10] hsluoyz commented on #80
@divy9881 @bigcat26 can we wrap the `#pragma once` into a ifdef? Like:

[code]

[2021-02-25 12:20] bigcat26 commented on #80
1. In my knowledge, pragma once is a compiler directive, it just work at compile time, it is replacement of header guard macro.
2. MSVC compiler support "precompile header" help speed up compile progress.
3. Is there any document describes how "pragma once" optimize msvc program runtime speed?

[2021-02-25 12:41] Zxilly commented on #80
@bigcat26 https://docs.microsoft.com/en-us/cpp/preprocessor/once?view=msvc-160

[2021-02-25 12:56] bigcat26 commented on #80
[code]

[2021-02-26 05:55] hsluoyz commented on #79
@bigcat26 I think we can do it based on mosquitto team's response: https://github.com/eclipse/mosquitto/issues/2100

[2021-02-26 14:36] bigcat26 commented on #79
OK

[2021-03-11 06:39] EmperorYP7 commented on #80
I don't think there is any noticeable performance difference between `#pagma once` and include-guards [SO discussion](https://stackoverflow.com/questions/1143936/pragma-once-vs-include-guards/34884735) on MSVC++. Include guards are more generic and won't throw warnings on compilation with Clang and GCC on MacOS and Linux (tested it myself). May I go ahead and create a PR for this?

[2021-03-11 09:07] #80 closed

[2021-03-11 09:40] hsluoyz commented on #80
Good work!

[2021-03-11 13:14] bokket commented on #38
I try to analyze the difference between c++ and golang in synced performance from some aspects.C++ <<atomic>> library and <<mutex>> library can satisfy asynchronous requests.But I found difference through the realization of https://github.com/casbin/casbin/blob/master/enforcer_synced.go.C++ has no standard library for timer operations.This means that a timing operation should be implemented throug

[2021-03-11 13:19] bokket commented on #38
I try to analyze the difference between c++ and golang in synced performance from some aspects.C++ atomic library and mutex library can satisfy asynchronous requests.But I found difference through the realization of https://github.com/casbin/casbin/blob/master/enforcer_synced.go.C++ has no standard library for timer operations to notify  LoadPolicy.This means that a timing operation should be impl

[2021-03-11 14:07] bokket commented on #38
I try to analyze the difference between c++ and golang in terms of synchronization operations from some aspects.C++ atomic library and mutex library can satisfy asynchronous requests.But I found difference through the realization of https://github.com/casbin/casbin/blob/master/enforcer_synced.go. C++ has no standard library for timer operations to notify LoadPolicy.This means that timing operation

[2021-03-11 14:12] hsluoyz commented on #38
@divy9881

[2021-03-12 15:06] EmperorYP7 commented on #38
@bokket Hey there! I am analysing it as well and working on it. I would also like to add to your observations or rather promote the adaptation of RAII methodology for maintaining the states of mutex in current Cached Enforcer, if we ain't using atomic. ([which we should, by the way](https://stackoverflow.com/questions/15056237/which-is-more-efficient-basic-mutex-lock-or-atomic-integer))

If you're

[2021-03-12 15:36] hsluoyz commented on #38
@xcaptain

[2021-03-13 05:56] EmperorYP7 commented on #41
CTest can also be a really great option for testing. It is truly cross-platform, can be replicated on every OS and architectures and can be configured for consistent CI through GitHub Actions. Reference for GH Action for CTest: https://github.com/AcademySoftwareFoundation/OpenColorIO/blob/master/.github/workflows/ci_workflow.yml

[2021-03-13 06:43] hsluoyz commented on #41
@divy9881

[2021-03-13 12:49] bokket commented on #38
Thank you @EmperorYP7 !Your work has inspired me a lot. If you want to improve performance or consider other aspects, atomic variables may be necessary. But now it is possible to use the RAII method to achieve multi-threading, at least it can prevent us from forgetting to unlock.
I now follow your ideas and refer to https://github.com/casbin/casbin/blob/master/enforcer_synced.go  and have complete

[2021-03-13 13:10] EmperorYP7 commented on #38
@bokket Glad it helped you! :smile: I literally just added `atomic_bool` after my comment and forgot to push it. (we think alike, yay!) I have worked around it by making a custom ticker that utilises `std::async`, RAII mutexs' and atomic types with custom tick times and callback function which is called per tick. Here's the code:
https://github.com/EmperorYP7/casbin-cpp/blob/EmperorYP7/enforcer/ca

[2021-03-14 11:32] EmperorYP7 commented on #38
Hey, I think I managed to work around this, I still need to do some testing though. May I draft a PR for this? @bokket @hsluoyz

[2021-03-14 11:50] bokket commented on #38
sure

[2021-03-14 14:57] EmperorYP7 opened #84 "Python bindings to facilitate PyCasbin-on-CPP"
The project has the potential to utilize its C++ API for [PyCasbin-on-CPP](https://github.com/casbin/pycasbin-on-cpp) through Python bindings which will allow us to call C++ code from Python. CPython exposes various endpoints for us to make bindings, but this approach will be cumbersome and vulnerable to a lot of errors and memory leaks which won't be easy to debug. [pybind11](https://github.com/p

[2021-03-14 17:08] xcaptain commented on #38
Sorry for the late  reply, Actually I'm not quite understand why we need to add a `StartAutoLoadPolicy`, because now policies were already synced between database and memory, every update operation will update the database. Load policy from database to memory regularly seems not very necessary.

[2021-03-15 15:13] EmperorYP7 commented on #38
@xcaptain You mean the watcher will take care of it?

[2021-03-16 10:38] xcaptain commented on #38
@EmperorYP7 Yes, currently `SyncedEnforcer` is thread safe using `mutex`, different threads share the same policies. This `StartAutoLoadPolicy` looks better in distributed scene, sync between between nodes. I suggest we close this issue and start a new issue discussing how to implement a watcher.

[2021-03-17 13:16] bokket opened #85 "Improve existing code quality"
C++ has some static detection tools, I use the open source cppcheck to check the current code quality.It is not satisfactory, it will cause some performance loss,at least we have to be able to achieve effective c++ in some aspects.I'm already working and researching this,I will list a few rules,but I will follow the contribution guidelines #7, if you have no objections, please allow me to do this.

[2021-03-17 14:44] xcaptain commented on #85
I think we can following modern C++ coding guide line, no need to keep compatible with old C style.

[2021-03-28 08:39] Zxilly commented on #84
Yes, this is our plan.
Before actually create the wrapper, we need to assure that casbin-cpp have all api of pycasbin.
Pycasbin on cpp will be regard as an optional high performance backend of pycasbin. But not a separate library.

[2021-03-30 07:51] PDLdeLange commented on #7
The problem with putting using namespace in the header files of your classes is that it forces anyone who wants to use your classes (by including your header files) to also be 'using' (i.e. seeing everything in) those other namespaces.
However, you may feel free to put a using statement in your (private) *.cpp files.
See also: https://stackoverflow.com/questions/1452721/why-is-using-namespace-std-

[2021-03-30 07:53] PDLdeLange commented on #7
Another thing to consider is adding namespaces to your project, e.g. namespace casbin { .. } in each file. This will prevent conflicts with other projects.

[2021-03-30 08:54] PDLdeLange opened #88 "Improve portability"
We love the effort but currently we can not use the project due to portability issues. I would propose to make the following changes.

- Introduce "casbin" namespace.
- Remove "using namespace" in all headers.
- Remove "using std" everywhere.

The latter two changes conflict with point 3 of the contribution guide which is actually considered bad practice and decreases portability. See: https://sta

[2021-03-30 09:02] EmperorYP7 commented on #88
I agree. This is really something we should be incorporating here.

Apart from that, the directory structure uses snake case which might create unnecessary conflicts with STL. Here's a [nice resource](https://youtu.be/4NYC-VU-svE?t=135) where I got to know about this first.

[2021-03-30 11:56] hsluoyz commented on #88
@xcaptain

[2021-03-30 16:23] bokket commented on #88
Amazing! we are following the same YouTube blogger!

[2021-03-30 16:53] hsluoyz opened #91 "Swtich from Travis CI to GitHub Actions"
We are running out of tokens again. We need to abandon Travis CI.

https://travis-ci.com/github/casbin/casbin-cpp

![image](https://user-images.githubusercontent.com/3787410/113026236-7010e780-91bb-11eb-8941-1676f83eda9b.png)

[2021-03-31 03:02] xcaptain commented on #88
Agree, we should close https://github.com/casbin/casbin-cpp/issues/7 and can simply consider using google's style.

[2021-03-31 12:14] #91 closed

[2021-03-31 13:40] hsluoyz commented on #88
@PDLdeLange I think your opinions sound good. Go ahead!

[2021-03-31 21:02] PDLdeLange commented on #88
Okay!

On Wed, Mar 31, 2021, 15:40 hsluoyz ***@***.***> wrote:

[2021-04-01 01:52] #38 closed

[2021-04-04 17:17] #85 closed

[2021-04-05 08:56] EmperorYP7 commented on #84
@Zxilly I tried to make a boilerplate for the workflow to make these bindings and management of pybind11 module with CMake.
Here's the dev branch: https://github.com/EmperorYP7/casbin-cpp/tree/python-bindings kindly look at `./CMakeLists.txt` and `/ext/Findpybind11.cmake`

Is it somewhat similar to what you envisioned for this?

[2021-04-05 08:57] EmperorYP7 commented on #84
@hsluoyz @xcaptain is this approach feasible?

[2021-04-05 09:44] Zxilly commented on #84
Good work.

[2021-04-06 10:39] hsluoyz commented on #84
@EmperorYP7 I don't know the detailed Py-Cpp binding techniques, but we want:

1. Compatible across all OS: Windows, Linux, macOS
2. Simple, modern
3. Good performance

[2021-04-06 10:53] EmperorYP7 commented on #84
@hsluoyz yes, the bindings will be cross-platform. The performance will be similar to the resultant of `Boost.Python` library. It would be significantly more efficient than native Python performance.

[2021-04-06 10:54] EmperorYP7 commented on #84
Sure. But I think I should research it a bit more before diving in.

[2021-04-06 11:13] hsluoyz commented on #84
@EmperorYP7 does pybind11 require CMake? I think we are not using CMake in this repo now? I remembered we are using .sln for Windows MSVC and makefile for Linux, the repo doesn't even build for macOS yet. How to resolve this?

[2021-04-06 11:24] EmperorYP7 commented on #84
Not necessarily, but it's the best way to get it done.

The project currently supports building the casbin library through CMake.

It does through CMake. But not reliably.
<img width="1151" alt="Screenshot 2021-04-06 at 4 47 55 PM" src="https://user-images.githubusercontent.com/62606998/113703025-ebacf000-96f7-11eb-9df5-1bc96c09d47c.png">

@hsluoyz I am willing to work on an easy-to-maintain build

[2021-04-06 13:12] hsluoyz commented on #84
lgtm!

[2021-04-07 02:44] #88 closed

[2021-04-07 14:36] EmperorYP7 commented on #42
We may use custom benchmarking by making utility classes, or we may go for [Google’s benchmark tool](https://github.com/google/benchmark).

What kind of benchmarking is desired? Are we into visual benchmarking as well?

[2021-04-07 14:58] hsluoyz commented on #42
@EmperorYP7 we want a cross-platform (Win, Linux, macOS), easy-to-use, modern and similar-to-Go benchmark solution, is there such a solution?

[2021-04-07 17:07] EmperorYP7 commented on #42
@hsluoyz I looked over the benchmarking implemented in casbin.
Google's benchmark would be perfect for this. It's cross-platform and quite similar to Go's benchmarking. May I take this up?

[2021-04-07 23:50] hsluoyz commented on #42
OK!

[2021-04-14 12:04] EmperorYP7 opened #96 "Upgrade to C++17"
The project can utilize the benefits of the modern C++17 standard. It is better, faster, and has more features than C++11. The features relevant for us include:

- [fold-expressions](https://en.cppreference.com/w/cpp/language/fold)
- [class template argument deduction (CTAD)](https://en.cppreference.com/w/cpp/language/class_template_argument_deduction)
- compile-time [`if constexpr`](https://en.cp

[2021-04-14 14:23] hsluoyz commented on #96
@EmperorYP7 I think we should first build the community and the ecosystem around Casbin-CPP, because I'm afraid that currently there are no people using this repo.

I'm not saying optimizing our code is not important, but I think we should first do the pinned issues:

![image](https://user-images.githubusercontent.com/3787410/114726447-fc044100-9d6f-11eb-8d4f-7b1cb7544907.png)

[2021-04-14 14:44] EmperorYP7 commented on #96
@hsluoyz I agree with you. But integrating another project requires the completion of the current API to some extent, if not completely. Upgrading to C++17 can be thought of as an intermediary step towards that. I am thinking about the implementation of #79 and will soon come up with a solution.

[2021-04-14 14:57] hsluoyz commented on #96
Will upgrading to latest C++ standard affect the integration with other projects like mosquitto? I think if their compiler toolchain is too old, then they will not support latest C++?

[2021-04-14 15:35] EmperorYP7 commented on #96
I don't think we would be injecting our source code directly into other projects, rather we'd be using libraries (binaries), and distribution-oriented code only. Mosquitto's codebase is mainly based on C, we'd have to create some kind of abstraction for it anyways. So I think this will not create any hindrance for integration.

[2021-04-14 16:39] hsluoyz commented on #96
Good!

[2021-04-22 06:41] hecma002 opened #97 "Cannot build Solution on Visual Studio 2019"
Hello everyone.
I am trying to build project with Visual Studio 2019. I follow the tutorial in your project with step:
- Clone project
- Double click on casbin.sln
- Click Build -> Build Solution

But compiler return some error with code C1083: cannot open include file. See picture
![image](https://user-images.githubusercontent.com/62142647/115667380-f90ce000-a36f-11eb-9203-9282687429ea.png)

I do

[2021-04-22 10:13] hsluoyz commented on #97
@EmperorYP7

/cc @divy9881

[2021-04-22 10:31] EmperorYP7 commented on #97
@hsluoyz On it! 🔨

[2021-04-22 12:17] #97 closed

[2021-05-19 16:16] hsluoyz commented on #79
@EmperorYP7

[2021-05-21 07:28] EmperorYP7 opened #99 "Configure CMake build system 🏗️"
The current state of the CMake config is quite basic and won't scale with the project. #84, #79, #50, #96, and #42 would require a robust build system with minimal setup across all platforms to add features seamlessly and debug on all platforms with a single codebase.

[2021-05-21 08:05] hsluoyz commented on #99
@xcaptain

[2021-05-21 09:15] hsluoyz opened #100 "Integrate with Glewlwyd"
See: https://github.com/babelouest/glewlwyd/issues/184#issuecomment-845783765

We should provide help and support including development efforts to help Glewlwyd integrate with Casbin.

[2021-05-21 09:20] hsluoyz commented on #100
@EmperorYP7

[2021-05-21 09:45] thoism commented on #100
thank you @hsluoyz!

[2021-05-21 09:57] EmperorYP7 commented on #100
I'd like to work on this. I still need to get into the weeds of Glewlwyd which might take me a while. So I need @xcaptain's help on this.

[2021-05-21 15:27] babelouest commented on #100
Hello, Glewlwyd's author here!

I'm available to help improving casbin and/or Glewlwyd to integrate one with another.

Glewlwyd's ACL design is based on the OAuth2 scopes: When a user asks for an access token to Glewlwyd, Glewlwyd checks that the user is allowed to grant those scopes, and asks for new authentication factors if the scopes require it.

For now, the security model of a user is like a

[2021-05-21 16:16] #99 closed

[2021-05-21 17:24] xcaptain commented on #100
@babelouest Your idea that encoding policies to OAuth token is very clever, I once built an OAuth server, I use a database table to store the relation of scope and correspond API, not very convenient and can't be abstracted as a library.

The OAuth scope model is very simple, it's just an ACL, for example, if a token has scope `file:read`, then this token can access API like `getFile` or `listFile

[2021-05-27 02:32] carrionbent opened #102 "can casbin-cpp support ABAC and eval()？"
in the casbin docs, I learned that casbin supports abac and the model file is as follows:

[code]

can you tell me if casbin-cpp supports abac now？If not support then when will it be ready？ looking forward to your answer, thanks

[2021-05-27 03:53] hsluoyz commented on #102
@EmperorYP7

/cc @xcaptain @divy9881

[2021-05-27 06:00] EmperorYP7 commented on #102
No, casbin-cpp does **not** support ABAC as of yet.

I'll be working on this during June and shall be usable by the end of next month at the latest.

[2021-05-27 06:13] carrionbent commented on #102
Thank you for your reply, Looking forward to trying this feature sooner

[2021-05-29 05:04] hsluoyz commented on #41
@EmperorYP7 does it support sending code coverage?

[2021-05-29 05:06] hsluoyz commented on #41
@xcaptain

[2021-05-29 05:08] EmperorYP7 commented on #41
@hsluoyz Yes, it does. And it's quite customizable.
https://github.com/pyarmak/cmake-gtest-coverage-example

[2021-05-29 05:32] hsluoyz commented on #41
Then let's use it!

[2021-05-30 11:56] babelouest commented on #100
While thinking about it, I came out with a better idea than updating the existing user backends, instead, I'll add a middleware backend system.

These middleware backends would be placed between glewlwyd core and the user backends and would be able to access and update the user objects. Their possibility would be potentially limitless with the user object.

For example, in the case of casbin, the

[2021-06-07 02:27] hsluoyz commented on #100
@EmperorYP7 plz work on this.

[2021-06-07 08:32] EmperorYP7 commented on #100
@hsluoyz sure! Should we create the middleware separately, or include them in glewlwyd's source?

Are there any examples of such middleware(s) to which I can refer? Can [this](https://github.com/babelouest/glewlwyd/blob/2d913e1090d9a8026af983d4c2b81265275c90f9/src/user_middleware/mock.c) be a viable starting point?
I'd be glad if someone can educate me/drop-in references on how middlewares work in

[2021-06-07 12:08] babelouest commented on #100
@EmperorYP7 ,

The middleware modules implementation is still a WIP, I'm working on the front-end at the moment, the tests will follow, and the documentation too. But you can start working on a middleware module, based on the mock you mention, that's what it's for.

The front-end must have an update too to integrate the casbin parameter, we can make that when we're sure what parameters will be req

[2021-06-07 17:39] EmperorYP7 commented on #100
Thank you @babelouest. :smile:

@hsluoyz I think we should be creating a middleware within glewlwyd's source.

[2021-06-07 21:03] babelouest commented on #100
You can also reach me on IRC, libera network, channel #glewlwyd

[2021-06-08 00:24] #96 closed

[2021-06-08 00:41] hsluoyz commented on #100
@babelouest @EmperorYP7 thanks for the update! The middleware design looks great :)

We usually use Apache 2.0 license in Casbin main repos. But I think it's OK to follow the https://github.com/babelouest/glewlwyd repo's license (which is GPL 3.0) if we put the middleware code directly into it.

[2021-06-08 01:53] babelouest commented on #100
@hsluoyz , no problem for the license.

To explain my point of view, I'm open minded with the licences third parties want to use with the modules, that's why the mock modules and the required files to include use MIT license, while the rest of glewlwyd is using GPL3.
Therefore even a closed source license would be possible for a module, although in that case I wouldn't be part of its implementatio

[2021-06-09 03:32] babelouest commented on #100
@EmperorYP7 , the middleware modules management is now ready in the [master](https://github.com/babelouest/glewlwyd/commit/4b56979bbc836315918e49c29b4ec0809311ae0f) branch.

[2021-06-09 06:16] EmperorYP7 commented on #100
That's great! I am on it. Thanks for the update. :smile:

[2021-06-11 14:27] EmperorYP7 commented on #100
Quick update:

casbin-cpp has not yet been configured to be called within C. This would require developing C wrappers for casbin's intrinsic functions and classes. I'll be working on this next week as well along with benchmarking.

[2021-06-11 14:39] babelouest commented on #100
You may not have to wrap casbin functions: I've written a module in a similar context by adding `extern "C"` in the functions that are exported, see https://github.com/babelouest/angharad/blob/master/src/benoic/device-modules/device-zwave.cpp#L514 for example.

Something like that:

[code]

The [Makefile](https://github.com/babelouest/angharad/blob/master/src/benoic/device-modules/Makefile#L44) wi

[2021-06-12 08:50] EmperorYP7 commented on #100
Thank you so much. Saved me a lot of time! 😄 @babelouest

[2021-06-12 11:48] babelouest commented on #100
My pleasure

[2021-06-21 07:45] carrionbent commented on #102
@EmperorYP7 has the attribute based access control been completed? and does casbin-cpp abac support matchers like eval(p.sub_rule)?

[2021-06-21 08:07] EmperorYP7 commented on #102
No. It still needs to be implemented. Hopefully, it will be ready by the end of this month.

[2021-06-24 06:30] klemens-morgenstern opened #111 "Exceptions should inherit `std::exception`"
All C++ exceptions should inherit `std::exception` so that a generic

[code]

captures all of them.

Please fix this, it makes your library pretty much unusable. Any static analyzer would tell you that's wrong.

[code]

[2021-06-24 10:45] EmperorYP7 commented on #111
Hey @klemens-morgenstern 👋🏻

Thanks for pointing it out! To avoid such major vulnerabilities, I'd also make a CI workflow for static analysis along with this fix.

[2021-06-24 11:47] #41 closed

[2021-06-27 11:42] #111 closed

[2021-06-29 11:13] hsluoyz commented on #41
@EmperorYP7 why two of these?

![image](https://user-images.githubusercontent.com/3787410/123788006-1630d280-d90e-11eb-9930-0f613f07b95e.png)

[2021-06-29 11:16] EmperorYP7 commented on #41
v1.22.0 was released when #107 was merged. v1.24.0 released after merging #108 (just now) since both pointed to the same issue.

[2021-06-29 11:18] EmperorYP7 commented on #41
There'll also be another release when #109 will be merged to master. Should I change the releaser to update the release manually rather than updating it at each push?

[2021-06-29 11:36] hsluoyz commented on #41
@EmperorYP7 well explained. Nothing needs to be done.

[2021-06-30 11:24] #42 closed

[2021-06-30 16:41] hsluoyz opened #115 "Make an authorization middleware for Envoy based on Casbin"
See:

1. https://www.openpolicyagent.org/docs/latest/envoy-introduction/
2. https://github.com/open-policy-agent/opa-envoy-plugin
3. https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/security/ext_authz_filter.html
4. https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/security/rbac_filter

This issue originates from: https://github.com/casbin/casbin-cpp/issues/50

[2021-06-30 16:41] hsluoyz commented on #50
Replaced by: https://github.com/casbin/casbin-cpp/issues/115

[2021-06-30 16:41] #50 closed

[2021-06-30 16:42] hsluoyz commented on #115
@EmperorYP7

[2021-07-04 09:18] EmperorYP7 opened #117 "Error while using `casbin::Enforcer::AddPolicies()`"
### Description

Invoking this function results in a segmentation fault. I encountered this while using `Enforcer::AddPolicies()` in #116.

### Screenshots

<img width="875" alt="Screenshot 2021-07-04 at 2 47 41 PM" src="https://user-images.githubusercontent.com/62606998/124379814-cd469880-dcd6-11eb-98dd-f5ad6eac9741.png">

[2021-07-05 04:59] EmperorYP7 opened #119 "Memory leakage while using `Enforcer::AddPolicy` and RBAC workflows"
### Description

There is a large memory leakage within RBAC workflow/Enforce method and `Enforcer::AddPolicy()` method.

### Screenshots

casbin-benchmark target is taking over 40GB of memory

<img width="1440" alt="Screenshot 2021-07-05 at 10 25 32 AM" src="https://user-images.githubusercontent.com/62606998/124419649-865eae80-dd7b-11eb-87ae-3c35bfcbab08.png">

[2021-07-12 10:05] carrionbent commented on #102
@EmperorYP7 , hi, can you tell me if ABAC is already available?

[2021-07-12 13:01] EmperorYP7 commented on #102
No, it isn't. Apologies for the delay. Subscribe to #110 to know whenever it's available.

[2021-07-13 02:34] carrionbent commented on #102
ok, thanks for your reply,  looking forward to it.

[2021-07-23 11:42] hsluoyz opened #126 "Make a Casbin module for NGINX"
See the full 3rd-party NGINX module list: https://www.nginx.com/resources/wiki/modules/

[2021-07-23 11:42] hsluoyz commented on #126
@EmperorYP7

[2021-07-28 08:35] NewbieOrange opened #132 "[QUESTION] Incorrect enforce result when using LoadPolicyLine"
Hi, I was trying casbin-cpp but the behavior is different than the enforcement test on the website editor, if `casbin::LoadPolicyLine()` is used.

The enforcer is constructed with:
[code]

The model is RBAC with resource roles (exactly copied from the website), and the policy is:

[code]

However, enforce("me", "route", "read") always return false, while the website shows it should be true.

If I

[2021-07-28 09:14] NewbieOrange commented on #132
I managed to workaround this by creating a "StringAdapter". Not sure what is going on.

[2021-07-29 12:34] #84 closed

[2021-07-30 15:42] EmperorYP7 opened #134 "Add tests for python bindings"
We need to have a testing workflow to ensure that the python bindings behave in the same way we intend it to.

[2021-08-01 08:35] hsluoyz commented on #132
@EmperorYP7

[2021-08-04 05:54] #134 closed

[2021-08-05 17:17] EmperorYP7 opened #136 "[Test] Error in locating Test Entities in Xcode"
### Description

The target `casbin_benchmark` is throwing `casbin::MissingRequiredSections` exception.

### Screenshot

<img width="1168" alt="Screenshot 2021-08-05 at 10 44 02 PM" src="https://user-images.githubusercontent.com/62606998/128392980-4f02477c-23e0-48ee-9677-21c0b3786946.png">

### Approaches

I think this is due to hardcoding the relative path into `tests/benchmark/config_path.h`

<i

[2021-08-06 10:14] #136 closed

[2021-08-11 11:49] btwear opened #140 "Got wrong enforce result if there are keyMatch or regexMatch"
Model
[code]

Policy
[code]

I use the following sample code
[code]

Got
[code]

But it should be
[code]

[2021-08-11 13:16] hsluoyz commented on #140
@EmperorYP7

[2021-08-16 10:56] lezli01 opened #143 "Performance issues"
* m_enforce lacks the clearing of the function lists of m_func_map
* split.cpp has a 100k std::string vector reservation which makes enforcement take a lot longer than necessary

[2021-08-16 13:18] hsluoyz commented on #143
@EmperorYP7

[2021-08-23 12:08] #143 closed

[2021-09-01 11:33] NewbieOrange opened #147 "Multi-thread (or at least thread-safe) support"
### Description

casbin-cpp currently crashes the program (cause segmentation fault) when called multi-threadedly.

It would be great if casbin-cpp supports multithreading, but thread-safe should be a minimal requirement, instead of crashing user application without any warning message (or explicit documentation).

[2021-09-01 11:35] hsluoyz commented on #147
@EmperorYP7 can you take a look?

[2021-09-01 13:39] EmperorYP7 commented on #147
@NewbieOrange Can you give more info on this? Like a sample program imitating the way casbin was used in your workflow, console outputs, or anything else.

[2021-09-01 15:44] NewbieOrange commented on #147
I am using casbin in a multi-threaded http server, so when multiple requests come in, the server will call enforcer at the same time in multiple threads. There is no console output other than the segmentation fault message.

[2021-09-02 03:29] NewbieOrange commented on #147
It seems that CachedEnforcer and SyncEnforcer does have mutex locking built-in, and works in multi-threaded environment (despite slowly-ish). Would love to see some documentation about these.

[2021-09-02 03:35] hsluoyz commented on #147
@NewbieOrange see: https://casbin.org/docs/en/multi-threading

[2021-09-06 01:53] noob20000405 opened #148 "File casbin.a not found in usr/local/lib"
Hi, I just locally installed casbin-cpp following "Installation and Set-Up". However the file casbin.a is found in
[code]
(OS : ubuntu 20.04)
which is supposed to be found in usr/local/lib.

I'm not sure if it's the reason of my question following :

I tried to compile my test file by
[code]
but I always get the following no matter where I put casbin.a (usr/local/lib or not)
[code]
That would be g

[2021-09-06 02:25] EmperorYP7 commented on #148
@noob20000405 It seems that the docs haven't been updated. When you build the `install` target, CMake makes this target "visible"/"available" to all the other CMake projects on your machine. i.e. you can just `find_package(casbin)` into your main `CMakeLists.txt` file to use the targets.

Look at: https://github.com/casbin/casbin-cpp#with-local-installation

And the binaries will be available at `

[2021-09-06 06:51] hsluoyz commented on #148
@EmperorYP7 can we update the docs?

[2021-09-06 21:06] noob20000405 commented on #148
@EmperorYP7 Thanks for your reply, it works. But I still met something unexpected :
I have to replace ```casbinTargets.cmake``` by ```casbin-config.cmake``` at casbin-cpp/CMakeLists.txt (Ln. 102) to make it works.
Otherwise, seems that the package casbin can't be found in my project :
[code]
I'm not sure it's a problem or it was me who made some mistakes. Thanks anyway in advance.

[2021-09-11 10:50] noob20000405 commented on #132
@NewbieOrange Hi, I think it might be because you didn't use method ```BuildRoleLinks()```. Try to call
```enforcer.BuildRoleLinks()```
after the loop of loading lines to see if it works.

[2021-09-11 16:20] hsluoyz commented on #132
Closed as resolved.

[2021-09-11 16:20] #132 closed

[2021-09-11 16:21] hsluoyz commented on #140
@noob20000405 can you take a look at this?

[2021-09-11 16:35] EmperorYP7 commented on #148
Sure! :smile:

[2021-09-11 16:47] EmperorYP7 commented on #148
@noob20000405 I think you should refer to this: https://cliutils.gitlab.io/modern-cmake/chapters/install/exporting.html

You will find a proprietary file generated at `$HOME/.cmake/packages` once you build the `install` target correctly. If you don’t see any file in that location, something went wrong during the export. Also, digging through the build logs might be helpful if the issue isn’t resol

[2021-09-22 18:08] PolBreachIty opened #150 "Make access to inherited exceptions public"
The exceptions provide a what string that is hard to retrieve from outside the library because std::exception::what() is hidden.

Our team is wrapping the casbin-cpp with an Erlang NIF for use in Elixir and are catching the RBAC exceptions and would like to provide the what string for logging purposes on the Elixir side.

[2021-09-22 19:20] PolBreachIty opened #152 "Unable to use CachedEnforcer in with clang"
### Description
clang complains that std::string doesn't have a hash function when using the `casbin::CachedEnforcer` due to the `std::unordered_map<std::string, bool>` used for caching decisions.

[code]

It also warns against a missing virtual destructor

[code]

### Clang version

[code]

[2021-09-23 11:02] EmperorYP7 commented on #152
Assuming you've followed the [steps for building the project](https://github.com/casbin/casbin-cpp#installation-and-set-up) correctly, it seems unusual that the compiler doesn't support hashing for `std::string`. I think the PCH isn't working as intended.

[2021-09-23 16:29] #150 closed

[2021-09-23 16:33] #152 closed

[2021-09-23 16:48] EmperorYP7 commented on #152
Yikes, thanks for sharing. YLE! (You Learn Everyday) 🙌🏻

[2021-10-25 01:23] hsluoyz opened #155 "Don't run benchmark tests in CI to avoid error"
See: https://github.com/casbin/casbin-cpp/runs/3990335532?check_suite_focus=true

![image](https://user-images.githubusercontent.com/3787410/138621432-63e82435-52d3-4ed1-b3e0-599089cd55f3.png)

We should not run benchmark tests in CI, because it takes too long time and CI will kill the process. People can run them in their local machine by themselves.

Can anyone remove it?

[2021-11-01 17:41] #119 closed

[2021-11-01 18:03] EmperorYP7 opened #160 "[Core] Redundant include dir"
### Description

The include directory i.e. `/include/casbin/` needs to be updated manually to correspond exactly with the headers in the source code directory `/casbin/`. This can be automated or dynamically generated with templated header files (`.h.in`) through [autoconf](http://www.gnu.org/software/autoconf/manual/autoconf.html).

[2021-11-01 19:08] EmperorYP7 commented on #160
This bot is great though!

[2021-11-09 09:12] sheny1xuan opened #165 "Refact ABACData by a Json Parser."
### Description
+ I noticed current `ABACData` maybe only support [one level](https://github.com/casbin/casbin-cpp/blob/abaa2174f0a4c6df2a25c21c388c15939f472655/casbin/enforcer.cpp#L481) depth json (e.g. `a.b`). If we want to makes more level, we need build `ABACData` tree to support. I think maybe we need a json lib to make things easier.
+ [nlohmann/json](https://github.com/nlohmann/json) is a j

[2021-11-13 05:07] #155 closed

[2021-11-17 07:36] NewbieOrange opened #168 "Included nlohmann::json interfere with project dependencies"
### Description

The recently added `nlohmann::json` has an older version than my project's minimal requirement, and casuing it failed to build.

Can we include a customized version of the `json.hpp` (adding `casbin` namespace?) to avoid interferences?

[2021-11-17 09:55] sheny1xuan commented on #168
Of course, we can include a customized version of the `json.hpp`, adding it to casbin namespace to avoid different version of the `json` lib.
Maybe we should update the version of `nlohmann::json` at the same time. What's version should be better? `3.9` or `3.10`?

[2021-11-17 10:23] NewbieOrange commented on #168
Newer is better, probably :)

[2021-11-18 17:15] #168 closed

[2021-11-21 14:05] #102 closed

[2021-11-21 14:11] EmperorYP7 opened #171 "Automated versioning"
### Description

The [version specified in CMake config](https://github.com/casbin/casbin-cpp/blob/f9d1a3394b075361f32a00a24dd10710643e5967/CMakeLists.txt#L36) and the [version released by GitHub Actions](https://github.com/casbin/casbin-cpp/releases) is not the same and can be really confusing for the clients. We can automate the versioning to coincide the CMake version with the GH version of cas

[2021-11-21 14:32] hsluoyz commented on #171
@sheny1xuan

[2021-11-22 07:52] sheny1xuan commented on #171
Good point. But I think it's maybe difficult to do that automatically. Because if we update cmake file atfer a new release, we will generate change in `cmakelists.txt`. And I can't find a plugin can do that thing. Maybe we can update cmake version with the [release rule](https://github.com/semantic-release/commit-analyzer). This is a very tricky thing.

[2021-11-24 14:40] EmperorYP7 commented on #171
I'll keep everyone updated once I have a practical approach for this.

[2021-11-27 12:40] hsluoyz commented on #165
Fixed by: https://github.com/casbin/casbin-cpp/pull/172

[2021-11-27 12:40] #165 closed

[2021-11-27 12:44] hsluoyz opened #173 "[PyCasbin-on-CPP] replace some PyCasbin code with Casbin-CPP to improve PyCasbin's performance"
See: https://github.com/casbin/pycasbin/issues/225

[2021-11-27 12:55] hsluoyz commented on #173
@Abingcbc will work on the PyCasbin part.

@sheny1xuan will work on the Casbin-CPP part.

Please work together.

[2021-11-27 17:17] EmperorYP7 commented on #173
This is going to be interesting!

[2021-11-27 17:33] EmperorYP7 opened #174 "[PyCasbin] Make the library pip installable"
From: https://github.com/casbin/casbin-cpp/issues/173

### Description

The current `pycabsin` target (library) can only be installed by [compiling and installing locally](https://github.com/casbin/casbin-cpp/tree/master/bindings#installing-the-pycasbin-module). People use Python for its utility, so we must make it simpler for the clients to install and use pycasbin (on cpp) with superior performa

[2021-11-28 01:28] hsluoyz commented on #173
@EmperorYP7 I think a standalone lib on pip is also great! Users will not face any breaking change with our version upgrade then. We need to make sure the API between pip's casbin and pycasbin-on-cpp are the same.

[2021-11-28 01:28] hsluoyz commented on #174
@sheny1xuan plz work on it.

[2021-11-28 01:57] sheny1xuan commented on #174
I will do it.

[2021-12-03 16:14] #174 closed

[2021-12-08 04:03] sheny1xuan opened #176 "[doc] Benchmark data about casbin-cpp in `casbin.org` maybe wrong."
### Description
+ `casbin-cpp` benchmark data in [official website](https://casbin.org/docs/en/benchmark) maybe wrong, `RBAC` time comlexity maybe `O(n)` rather than `O(1)`, n is policy numbers in memory. So with data increase in `RBAC small`, `RBAC medium` and `RBAC large`, consumed time will increase. We can ref to this [action](https://github.com/casbin/casbin-cpp/runs/4070980022?check_suite_fo

[2021-12-08 05:20] hsluoyz commented on #176
@sheny1xuan good finding! Can you fix the bencnmark number in the docs?

[2021-12-08 06:20] sheny1xuan commented on #176
Of course, but these are something wrong when I run `large rbac model`. We I fix it, I will update the newest benchmark number in the docs.

[2021-12-08 06:27] hsluoyz commented on #176
@EmperorYP7 any comments?

[2021-12-08 12:53] EmperorYP7 commented on #176
So here are the benchmark results when I fed it in casbin.org

![](https://user-images.githubusercontent.com/62606998/130142096-ccff8e5d-b963-4035-b7df-00ad52ad977d.png)

[2021-12-09 02:29] sheny1xuan commented on #176
Maybe in this benchmark reuslt, `rbac small` should be `50985511 / 78 = 653660.40ns` and `rbac medium` should be `906444271 / 10 = 90644427.1ns`. Is my calculation correct？

[2021-12-09 12:24] EmperorYP7 commented on #176
1. The `CPU` and `Time` already show runtime/operation. You don't need to calculate it.
2. I took the `CachedRBAC` workflow for the benchmark.

[2021-12-10 01:13] hsluoyz commented on #176
@sheny1xuan sounds good

[2021-12-10 03:14] sheny1xuan commented on #176
Hi, when I update the result above, I found `casbin-cpp' performance` maybe not good as we expect. It's too slow compared to `golang` and `rust`. I think maybe the result is outdated for us, and I rerun the benchmark in my local mahcine. Here is the runtime result, and it's faster than before, but I think it's not enough compared to `golang` and `rust`. And I change somewhere in `rbac manager` to

[2021-12-10 13:15] EmperorYP7 commented on #176
This is exactly what I was up to a few months ago. I tried to set up [visual profiling for casbin-cpp](https://github.com/EmperorYP7/casbin-cpp/tree/visual-benchmark). However, I couldn't find a way to include it in the existing CI workflows.

[2021-12-10 13:46] hsluoyz commented on #176
@EmperorYP7 currently Casbin-CPP is even slower than Go Casbin or jCasbin. This is not common sense because we know C++ will usually be at least 10x faster than Go or Java. We need at least a manual profiling approach to troubleshoot the slow part in our Casbin C++ code. Integrating the profiling into CI is not required. For now we can just provide a manual profiling way to make sure the performan

[2021-12-10 16:03] EmperorYP7 commented on #176
Even I expected it to be a lot faster. We need to look into what is causing the bottleneck. (as far as I can recall, it was related to duktape)

Alright, making a new issue for profiling.

[2021-12-10 16:09] EmperorYP7 opened #177 "[Profiling] Identifying the bottlenecks in Enforcer"
### Description

With reference to #176, it was found that `casbin::Enforcer` is performing significantly worse for RBAC workflows than its Golang counterparts. We need to implement profiling throughout the project to identify bottlenecks.

### Screenshots/Testimonials

![](https://user-images.githubusercontent.com/43725202/145511008-ae0e56f3-c35c-416c-a5c3-b351acf2e40b.png)

[2021-12-10 16:23] hsluoyz commented on #177
@sheny1xuan plz work on this as next step

[2021-12-15 03:27] sheny1xuan commented on #177
Hi, I have do some profiling for `casbin-cpp` using `calgrind`, and I can't  include it in the existing CI workflows too. You can find my code in my [repo](https://github.com/sheny1xuan/casbin-cpp/tree/profiling).
In a normal `rbac enforce` process, `InitializeScope` for `duktape` expression evaluator costs too much time. I think each `enforcer` can hold a `Scope` rather than `InitializeScope` whe

[2021-12-16 13:43] EmperorYP7 commented on #177
I was suspecting that to be the bottleneck, we need to work our way around it. Having a separate `Scope` for each call of Enforce is unnecessary.

[2021-12-24 16:39] EmperorYP7 commented on #176
We can update the benchmarks on the websites now

[2021-12-25 01:54] hsluoyz commented on #176
@sheny1xuan

[2021-12-29 07:55] yuzhishuo opened #179 "how to finish AddNamedDomainMatchingFunc' function in using casbin-cpp,"
like this :

![image](https://user-images.githubusercontent.com/19743727/147639790-42a3ebbe-7933-4897-9ea0-f46094b82a02.png)

[2021-12-29 08:55] hsluoyz commented on #179
@sheny1xuan

[2021-12-29 12:32] sheny1xuan commented on #179
Hi, I think you want to use `RBACModelWithPattern`, you can refer to this [test case](https://github.com/casbin/casbin-cpp/blob/e9628f394e7b3688e28fc759a879014bf745c2a0/tests/model_enforcer_test.cpp#L474) to register the match function for your rbac model.

[2021-12-29 14:30] hsluoyz commented on #179
@sheny1xuan does Golang have it? Can we add it here too?

[2021-12-30 02:13] yuzhishuo commented on #179
👌

[2021-12-30 08:03] sheny1xuan commented on #179
Yes, golang have this interface, I will add it in latter commit.

[2022-01-18 11:51] EmperorYP7 commented on #84
I completely missed this one!
- Making pycasbin module `pip` installable instead of building it locally from the source.
- Benchmarking pycasbin's performance to compare it with Python's casbin implementation

[2022-01-20 05:07] hsluoyz opened #180 "Making pycasbin module pip installable instead of building it locally from the source"
See: https://github.com/casbin/casbin-cpp/issues/84#issuecomment-1015337364

[2022-01-20 05:07] hsluoyz opened #181 "Benchmarking pycasbin's performance to compare it with Python's casbin implementation"
See: https://github.com/casbin/casbin-cpp/issues/84#issuecomment-1015337364

[2022-01-20 05:08] hsluoyz commented on #84
@EmperorYP7 great! Created two issues:

https://github.com/casbin/casbin-cpp/issues/180

https://github.com/casbin/casbin-cpp/issues/181

[2022-01-22 14:32] #179 closed

[2022-01-23 18:36] tech-bash commented on #40
I would like to work on this issue , Can I get a snippet over how the work should be done . It will be really helpful ...

[2022-01-23 18:39] tech-bash commented on #40
I would like to work on this issue , A lil guidance from ur side will be highly helpful !!

[2022-01-24 03:30] hsluoyz commented on #40
@EmperorYP7 @sheny1xuan plz give some advices

[2022-01-24 04:26] sheny1xuan commented on #40
Hi, I think we can pick one web framework in this [list](https://github.com/fffaraz/awesome-cpp#web-application-framework) as a start. I don't know which one is best, but I think we can pick a framework with more active community, such as Crow, TreeFrog, Drogon etc.

[2022-01-25 08:07] EmperorYP7 commented on #40
Drogon and oat++ are good candidates for us.

[2022-02-26 05:29] #160 closed, assigned to hsluoyz

[2022-03-05 06:10] EmperorYP7 commented on #180
Closing against #175

[2022-03-05 06:10] #180 closed

[2022-03-05 22:00] EmperorYP7 opened #190 "[Test] Implementing unit tests for `SyncedEnforcer`"
### Description

[Functional tests](https://github.com/casbin/casbin-cpp/blob/master/tests/enforcer_synced_test.cpp) for `casbin::SyncedEnforcer`. The problem arose due to ambiguity in handling multi-threaded tests in GoogleTest.

We need to inspect ways to get around this and implement it in our current test setup.

### Your System Info

NA

### Screenshots/Testimonials

NA

[2022-03-12 14:25] sheny1xuan opened #192 "[Test] Add memory check in ci."
### Description
+ Add memory check in ci to avoid memory leak or other memery question.

[2022-03-13 10:15] #190 closed

[2022-03-15 02:28] #192 closed

[2022-03-15 09:44] Young-Flash opened #194 "cmake compile always stop at `Detecting C compile features - done`"
### Description
cmake compile always stop at `Detecting C compile features - done`

### Your System Info
ubuntu 18.04
cmake 3.23.0-rc3
gcc 11.2.0

### Screenshots/Testimonials
![image](https://user-images.githubusercontent.com/71162630/158350681-e1e35670-2bb8-4fab-99aa-a1d0384b8607.png)

[2022-03-15 10:07] sheny1xuan commented on #194
You can try to set proxy, downloading the dependence for cmake will be very slow in China.

[2022-03-15 12:46] sheny1xuan commented on #194
If you don't have stable network, you can use this simplified json package. The download size will be more smaller.

[2022-03-16 02:28] Young-Flash commented on #194
thanks for you response. I have set proxy for my network, unfortunately it do not work. when I try `cmake ..`, error occurs as blow:
[code]

[2022-03-16 06:27] sheny1xuan commented on #194
Sorry, I don't meet this problem before, but I guess it's the network problem about git or curl in cmake. I find below links and I think these links may be hlepful for you.
https://stackoverflow.com/questions/48987512/ssl-connect-ssl-error-syscall-in-connection-to-github-com443
https://docs.thousandeyes.com/product-documentation/internet-and-wan-monitoring/troubleshooting/http-server-test-fails-wi

[2022-03-16 07:31] #194 closed

[2022-03-26 13:16] sheny1xuan commented on #176
I have udpated the latest benchmark data.

[2022-03-26 13:16] #176 closed

[2022-04-21 15:29] MaximAxelrodFirebolt opened #200 "Passing policy to Adapter as a sting buffer instead of a text filepath"
### Description
We want to change the current way of passing policy to casbin's Adapter. The current way is to pass filepath of policy.csv file to Enforcer constructor. We want to change this in a such way, that Enforcer's constructor will accept string buffer which contains policy instead of policy filepath.

i.e. to add the following constructor `Enforcer(const std::string& model_path, const std

[2022-04-21 15:48] hsluoyz commented on #200
@MaximAxelrodFirebolt I think you need a String Adapter like this one: https://casbin.org/docs/en/adapters#:~:text=For%20JSON-,String%20Adapter,-String ?

We usually implement such an adapter in a separated repo. Do you want to contribute the code?

[2022-04-21 20:10] MaximAxelrodFirebolt commented on #200
if we succeed to implement, of course, we will contribute!

[2022-04-22 07:51] MaximAxelrodFirebolt commented on #200
@hsluoyz [hsluoyz](https://github.com/hsluoyz) yes, exactly, I need like this but for C++, will try to implement it

[2022-04-22 13:45] hsluoyz commented on #200
@MaximAxelrodFirebolt plz implement it in this repo, because importing lib in C++ is not very easy

[2022-04-25 06:50] MaximAxelrodFirebolt opened #201 "Why enforcer has two herader files (casbin_enforcer.h and enforcer.h) ?"
Hi All,

I need to add a new constructor to the existing enforcer,
`Enforcer(const std::string& model_path, std::stringstream && policy)`, and I see that I must add the CTOR declaration in 2 files,

casbin/include/casbin/casbin_enforcer.h
and
contrib/casbin/casbin/enforcer.h

If I add the CTOR declaration only into one of them, compilation fails. So I just don't understand why casbin has two heade

[2022-04-25 11:18] sheny1xuan commented on #201
Hi, current code only have one header file of [enforcer](https://github.com/casbin/casbin-cpp/blob/master/include/casbin/enforcer.h). I think you should update your branch to the [ latest version](5d9e56cb97ca456158f94c614af1dbfba2e7a3fc).

[2022-04-25 21:03] MaximAxelrodFirebolt opened #202 "How to fix compilation bug: fatal error - file cmake_pch.hxx has been modified since the precompiled header"
### Description
I am using tag casbin 1.40 and have this bug happens often when comiling casbin. Can somebody help me to fix it?

[code]

### Your System Info:
Ubuntu 20.04.4 LTS, using clang++-11

### Full log:
[code]

[2022-04-26 00:46] hsluoyz commented on #202
@EmperorYP7 @sheny1xuan

[2022-04-26 01:22] sheny1xuan commented on #202
You can try to remove this precomplie [header](https://github.com/casbin/casbin-cpp/blob/5d9e56cb97ca456158f94c614af1dbfba2e7a3fc/casbin/CMakeLists.txt#L75).

[2022-04-26 01:57] hsluoyz commented on #202
@sheny1xuan is it not required in any places any more? Can we make a PR to remove it entirely?

[2022-06-09 15:12] drteeth opened #203 "Cmake instructions out of date for newer versions including nlohmann_json"
### Description

I'm trying to include casbin-cpp in an android project. This worked great for version 1.37.x by following the `FetchContent` directions for CMake in the readme. I now need to use the newer features of casbin and tried to upgrade to 1.50.1. This fails as there is now a dependency on `nlohmann_json`:

[code]

I'm wondering if someone at casbin could update the readme with instructio

[2022-06-09 16:06] hsluoyz commented on #203
@EmperorYP7 can you help resolve this case?

[2022-06-10 19:34] EmperorYP7 commented on #203
@hsluoyz Its fixed now

[2022-06-10 20:20] #203 closed

[2022-06-11 01:12] hsluoyz commented on #203
@EmperorYP7 thanks! I saw it: https://github.com/EmperorYP7/casbin-CMake-setup/commit/af30c1058ca421a6df8a0ed7c4057febb68dc9bd

BTW, can we move this repo: https://github.com/EmperorYP7/casbin-CMake-setup to the org https://github.com/casbin-cpp to serve as better showcase?

[2022-06-11 06:24] EmperorYP7 commented on #203
Sure!

[2022-06-11 06:40] EmperorYP7 commented on #203
We also need to update license and copyright info in the source files if we're including it in casbin-cpp org

[2022-06-11 06:45] hsluoyz commented on #203
@EmperorYP7 thanks! Issue created here: https://github.com/casbin-cpp/casbin-CMake-setup/issues/3

[2022-06-13 15:04] drteeth commented on #203
Thanks you @EmperorYP7 I really appreciate that!

[2022-07-01 13:08] hsluoyz commented on #202
@cs1137195420

[2022-07-01 16:44] cs1137195420 commented on #202
### My System Info:
Ubuntu 20.04.1 LTS, using clang++-11

### Full log:
[code]

@MaximAxelrodFirebolt I used tag casbin 1.40 and compiled casbin correctly with the same enviroment. Could you show me something more detailed? If you have solved this problem, plz let us know.

[2022-07-02 02:46] #201 closed

[2022-07-02 02:47] hsluoyz commented on #200
@cs1137195420

[2022-07-07 14:10] cs1137195420 opened #205 "set_target_properties called with incorrect number of arguments"
### Description
This error occurred when I tried to run a CMake project including casbin-cpp on Visual Studio2019. It seems that set_target_properties didn't recognize it after PREFIX was set to empty character, which caused incorrect number of arguments. Is this a bug that needs to be fixed?

### My System Info
Windows 10, cmake version 3.24.0-rc2

### Screenshots
The CMakeLists.txt of project:
!

[2022-07-07 16:53] hsluoyz commented on #205
@sheny1xuan

[2022-07-08 01:13] hsluoyz commented on #202
@MaximAxelrodFirebolt any update?

[2022-07-08 02:55] sheny1xuan commented on #205
Of course, casbin-cpp support three platform, you can try to fix it.

[2022-07-08 07:30] #200 closed

[2022-07-11 04:18] hsluoyz commented on #202
Closed as stale.

[2022-07-11 04:18] #202 closed

[2022-07-11 04:20] hsluoyz opened #207 "Use the same performance benchmark tests for all languages"
See: https://github.com/casbin/casbin/issues/1049

If Casbin-CPP has any difference in benchmark tests, align them to the Golang version.

[2022-07-11 04:21] hsluoyz commented on #207
@cs1137195420

[2022-07-11 04:31] cs1137195420 commented on #207
I'll try to work on it.

[2022-07-22 08:46] JalinWang opened #208 "[Question] no test for ABAC"
I'm wondering why there is no test for ABAC.
There used to be some test cases, but they are gone after `duktape evaluator` is removed in https://github.com/casbin/casbin-cpp/pull/196

Searching result: https://github.com/casbin/casbin-cpp/search?l=C%2B%2B&q=ABAC

[2022-07-22 13:33] hsluoyz commented on #208
Hi @sheny1xuan any reasons for removing the ABAC tests?

/cc @EmperorYP7 @cs1137195420

[2022-07-23 02:11] sheny1xuan commented on #208
@JalinWang  Yes, `exprtk evaluator` don't support `ABAC`. `duktape evaluator` didn't support `total ABAC`, we use `json` for input rather than reflection. `std` library don't support reflection, we need to think of new ways to support `ABAC`.

[2022-07-23 09:20] JalinWang commented on #208
@sheny1xuan  uhh it sounds like a breaking change. I think it would be better to add a note somewhere, e.g., https://casbin.io/docs/overview#feature-set-for-different-languages, as well as a description in PR https://github.com/casbin/casbin-cpp/pull/196 for tracking. It has taken me some time to reason about what happened with  https://github.com/casbin/casbin-cpp/pull/170 https://github.com/casb

[2022-07-23 09:20] #208 closed

[2022-07-23 09:32] JalinWang opened #209 "[Question] lack support for keyGet* & keyMatach4"
Casbin-cpp lacks some built-in functions. Is there any plan to support them all? I'm not sure if it's worthwhile to do so :(

Function list:
https://casbin.io/docs/function

Supported functions in casbin-cpp:
[code]

[2022-07-23 10:54] hsluoyz commented on #209
@cs1137195420

[2022-07-23 11:04] hsluoyz commented on #208
@sheny1xuan so we are losing some features after the change? Which features are still missing? Can we create some issues to track these missing ones?

[2022-08-11 10:54] jackleibest opened #213 "how to persist polices with PostgreSQL"
Seems the casbin could be save the policies to the PostgreSQL via Go lang or Java, however, how to do it with C++? Are the any adapters?

[2022-08-11 12:05] hsluoyz commented on #213
@cs1137195420

[2022-08-12 16:38] cs1137195420 commented on #213
@jackleibest The PostgreSQL adapter is not implemented yet, we will implement it later and put it in a separate repository named [postgresql-adapter](https://github.com/casbin-cpp/postgresql-adapter).

[2022-08-12 17:04] hsluoyz opened #214 "Make an ORM adapter for Casbin C/C++"
PosgreSQL is required by: https://github.com/casbin/casbin-cpp/issues/213

But I think first we need an ORM adapter to support most of common DBs.

Some ORM libs I can find are:

- https://github.com/rbock/sqlpp11 (2k stars!)
- https://github.com/BrainlessLabs/bun (94 stars)
- https://github.com/silverqx/TinyORM (only 11 stars:( )
- https://codesynthesis.com/products/odb/
- https://litesql.org/

[2022-08-12 17:07] hsluoyz commented on #213
@cs1137195420 we should make an ORM adapter first, see: https://github.com/casbin/casbin-cpp/issues/214

@jackleibest do you have any suggestions for a C/C++ ORM?

[2022-08-12 17:12] hsluoyz commented on #214
@divy9881 @EmperorYP7 @sheny1xuan any suggestions?

[2022-08-16 01:36] hsluoyz commented on #209
Done by: https://github.com/casbin/casbin-cpp/pull/211 and https://github.com/casbin/casbin-cpp/pull/212

[2022-08-16 01:36] #209 closed

[2022-08-21 10:45] cs1137195420 opened #215 "Register keyGet function for evaluator"
Part of: #209
The updated `KeyGet*` functions have not been registered in the `evaluator` yet, so they cannot be called internally in the `enforcer.`

To solve this problem, I modified `numeric_type` to `string` in `exprtk_config.h`, and added the `ExprtkGetFunction` and `ExprtkGetWithPathFunction` struct to implement the registration of the `KeyGet*` functions.

But while running CI, I encountere

[2022-08-21 11:49] hsluoyz commented on #215
@JalinWang

[2022-11-25 09:56] shishirong opened #217 "Add casbin-cpp to vcpkg"
### Description
I issued in [vcpkg](https://github.com/microsoft/vcpkg/issues/26884#issue-1378828254),but closed by someone.
Have a expert to reopen or  Pull requests about casbin-cpp.